## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[16, 95, 4, 64, 60, 83, 26, 88, 53, 93, 90, 73, 54, 28, 86, 7, 79, 62, 47, 6, 44, 22, 10, 48, 80, 76, 85, 1, 15, 78, 8, 65, 55, 46, 34, 3, 14, 66, 51, 23, 18, 42, 9, 19, 0, 61, 94, 11, 35, 89, 45, 84, 91, 75, 25, 69, 82, 72, 56, 21, 81, 39, 17, 32, 2, 50, 98, 59, 20, 37, 36, 99, 40, 38, 27, 63, 30, 67, 57, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print("Lenght of set1 is",len(set1))
len(sample_list_1)==len(set1)
#The sample_list_1 have 80 uniques values, so the there is no duplicate.

Lenght of set1 is 80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.extend(random.sample(range(100), k=1))

print (sample_list_2)

[74, 57, 58, 90, 85, 86, 33, 54, 44, 61, 2, 42, 28, 30, 24, 96, 55, 7, 47, 29, 92, 76, 70, 42, 90, 77, 61, 2, 37, 53, 79, 40, 90, 9, 94, 44, 56, 14, 86, 17, 60, 2, 10, 66, 92, 89, 60, 4, 53, 3, 75, 38, 59, 64, 5, 78, 58, 28, 86, 66, 17, 1, 11, 5, 92, 37, 81, 79, 15, 48, 32, 94, 57, 88, 95, 13, 92, 71, 87, 94]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print("Lenght of set2 is",len(set2))
len(sample_list_2)==len(set2)
#The sample_list_1 have 80 non-uniques values, so the there can be duplicate.

Lenght of set2 is 56

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1-set2
print(set3)

{0, 6, 8, 16, 18, 19, 20, 21, 22, 23, 25, 26, 27, 34, 35, 36, 39, 45, 46, 50, 51, 62, 63, 65, 67, 69, 72, 73, 80, 82, 83, 84, 91, 93, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1
print(set4)

{96, 33, 5, 70, 71, 74, 13, 77, 87, 24, 58, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1&set2
print(set5)

{1, 2, 3, 4, 7, 9, 10, 11, 14, 15, 17, 28, 29, 30, 32, 37, 38, 40, 42, 44, 47, 48, 53, 54, 55, 56, 57, 59, 60, 61, 64, 66, 75, 76, 78, 79, 81, 85, 86, 88, 89, 90, 94, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print("Length of set 2 is equal to the length of sets 3 + 5?", len(set1)==len(set3)+len(set5))
print("Length of set 2 is equal to the length of sets 4 + 5?",len(set2)==len(set4)+len(set5))

80
56
36
12
44
Length of set 2 is equal to the length of sets 3 + 5? True
Length of set 2 is equal to the length of sets 4 + 5? True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print ("Are set1 and set6 equal?", set1==set6 )

Are set1 and set6 equal? True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print("Does set1 contains set2?", set2.issubset(set1))
print("Does set1 contains set3?", set3.issubset(set1))

Does set1 contains set2? False
Does set1 contains set3? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
print("Is union of sets 1and 2 equal to union of sets 3, 4 and 5?",set1.union(set2) == set3.union(set4,set5))

Is union of sets 1and 2 equal to union of sets 3, 4 and 5? True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)
print (set1)

{47, 48, 50, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 90, 93, 94, 95, 98}